.main {
    .headline {
        font-size: 1.8rem;
        margin-bottom: 12px;
    }

    .intro {
        position: relative;
        height: 90vh;
        transition: height 1s;

        background-image: linear-gradient(
            90deg,
            rgba(0, 0, 0, .9),
            rgba(0, 0, 0, .7)
        ), url("./images/intro.jpg");
        background-position: center, center;
        background-size: cover, cover;
        background-attachment: fixed, fixed;

        .intro__overlay {
            position: absolute;
            width: 100%;
            height: 100%;

            .intro__wrapper {
                height: 100%;

                display: flex;
                align-items: center;
                padding: 20px;

                .intro__content {
                    font-weight: 600;
                    color: #ddd;

                    .intro__headline {
                        font-size: 3rem;
                    }

                    .intro__description {
                        color: #bbb;
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }

    .advantages {
        background: rgb(240, 240, 240);

        .advantagesContent {
            .advantage {
                margin-top: 1rem;

                display: flex;
                align-items: flex-start;

                .itemNumber {
                    flex: 0 0 50px;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    width: 50px;
                    height: 50px;

                    font-weight: bold;
                    font-size: 1.1rem;
                    color: rgb(0, 114, 28);

                    border-radius: 50%;
                    border: 1px solid rgb(0, 114, 28);
                }

                .itemContent {
                    padding-top: calc(12px);
                    padding-left: 2rem;
                    line-height: 1.5;
                    color: black;
                }
            }

            .advantage__button {
                margin-top: 2rem;
            }
        }
    }
}

@media all and (max-width: 600px) {
    .main {
        .intro {
            background-attachment: scroll;
            height: 40vh;

            .intro__overlay {    
                .intro__wrapper {
                    .intro__content {
                        font-weight: 600;
                        color: #ddd;
    
                        .intro__headline {
                            font-size: 2rem;
                        }
    
                        .intro__description {
                            color: #bbb;
                            font-size: 1.2rem;
                        }
                    }
                }
            }    
        }
        .employee {
            .employeeContent {
                .employeeCarousel {   
                    height: 450px; 
                    .employeeCarouselContent {    
                        .employeeCarouselItem {    
                            .imageContainer {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 100%;
    
                                overflow: hidden;
                            }
    
                            .employeeInfo {
                                padding: 12px;
                                width: 50%;
    
                                .employeeName {
                                    font-size: 1.4rem;
                                }
    
                                .employeeDescription {
                                    margin-top: 12px;
                                }
                            }
                        }
    
                        .carouselItem.active {
                            pointer-events: all;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}