.contactsSection {
    background: #333;
    padding: 20px 16px;

    .contactsContent {
        .contactsInfo {
            color: #eee;
            text-align: right;
            width: 100%;
            padding: 16px;

            .contactsInfoHeadline {
                font-size: 1.4rem;
                margin-top: 12px;
            }
            .contactsInfoContent {
                color: #ccc;
                margin-top: 6px;
            }
        }

        .map {
            padding: 20px 16px;
            display: block;
        }
    }
}
