.offers {
    background: white;

    .offersContent {
        color: #333;

        .offerItem {
            display: flex;
            padding: 16px;

            border-radius: 5px;

            transition: .5s;

            cursor: pointer;

            .icon {
                width: 50px;
                height: 50px;
            }

            .offerInfo {
                margin-left: 16px;

                .offerName {
                    font-size: 1.1rem;
                    font-weight: bold;
                    fill: rgb(0, 136, 57);
                }

                .offerDescription {
                    margin-top: .4rem;
                    font-size: .8rem;
                    color: #666;
                }
            }
        }

        .offerItem:hover {
            background: #ddd;
        }

        .offer__buttons {
            display: flex;
            margin-top: 2rem;

            .button + .button {
                margin-left: 1rem;
            }
        }
    }
}


@media all and (max-width: 600px) {
    .offers {
        background: white;
    
        .offersContent {    
            .offer__buttons {
                flex-direction: column;
                align-items: flex-start;
    
                .button {
                    width: 200px;
                    text-align: center;
                }

                .button + .button {
                    margin-left: 0rem;
                    margin-top: .5rem;
                }
            }
        }
    }
    
}